/* 主布局样式
------------------------------------- */
.layout-container {
    width: 100%;
    height: 100%;
    .layout-aside {
        svg {
            margin-right: 10px;
        }
    }
    .layout-header {
        color: #979797;
        padding: 0 15px;
        background-color: white;
    }
    .layout-main {
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }
}
